/* ==============================================
  reset
============================================== */
*, *:before, *:after {
	box-sizing: border-box;
}
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,a,small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,article, aside, dialog, figure, footer, header,menu, nav, section,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}
html {
	overflow: auto;
	font-size: 62.5%;
}
body {
	font-family: 'Avenir', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'MS PGothic', sans-serif;
	line-height: 1;
	color: #000;
	min-width: 100%;
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	font-weight: 400;
	word-break: break-strict;
	word-wrap: break-word;
	line-break: strict;
}
h1, h2, h3, h4, h5, h6, p,small,dt,dd,li {
	line-height: 1.75;
}
article, aside, dialog, figure, footer, header,hgroup, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: 700;
}
del {
	text-decoration: line-through;
}
abbr[title], dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input, select {
	vertical-align: middle;
}
ul,li {
	list-style: none;
}
ul {
	letter-spacing: -0.5em;
}
li {
	letter-spacing: normal;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
table {
	width: 100%;
}
sup {
	position: relative;
	font-size: 75%;
	vertical-align: baseline;
	top: -0.2em;
}
sub {
	position: relative;
	font-size: 75%;
	vertical-align: baseline;
	top: 0;
}
a,a:focus,
*:focus {
	outline: none;
}
a {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	color: #0599d9;
	vertical-align: baseline;
}

a:hover {
	text-decoration: none;
}


/* ==============================================
  module
============================================== */
.inner {
	position: relative;
	max-width: 750px;
	margin: 0 auto;
	padding: 0 15px;
}
.indent {
	padding-left: 1em;
	text-indent: -1em;
}
.text-center {
	text-align: center;
}
.clearfix:after {
	content:" ";
	display:block;
	clear:both;
}


/* ==============================================
  header
============================================== */
header {
	position: relative;
	height: 63px;
	background: url(../img/header_bg.png) no-repeat 50% 0;
	background-size: contain;
	z-index: 2;
}
header {
	padding-top: 63px;
}
header p {
	position: absolute;
	top: -9.8vw;
	right: 15px;
	font-size: 3.5vw;
	text-align: right;
	line-height: 1;
	color: #fff;
	z-index: 2;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
	header {
		height: 0;
		padding-top: 16.8%;
		background-size: cover;
	}
}

@media screen and (min-width: 769px) {
	header {
		height: 130px;
		padding-top: 0;
		background: url(../img/header_bg_big.png) no-repeat 50% 0;
		background-size: auto 130px;
	}
	header:before,
	header:after {
		position: absolute;
		top: 0;
		content: '';
		width: 100%;
		height: 130px;
		z-index: -1;
	}
	
	header:before {
		left: -50%;
		background: url(../img/header_bg_l.png) repeat-x 0 0;
		background-size: auto 130px;
		transform: translateX(-407px);
	}
	header:after {
		right: -50%;
		background: url(../img/header_bg_r.png) repeat-x 0 0;
		background-size: auto 130px;
		transform: translateX(407px);
	}
	header p {
		position: absolute;
		top: 50px;
		font-size: 2.7rem;
	}
}



/* ==============================================
  contens
============================================== */
.contents {
	margin-top: -63px;
}
.contents section {
	padding-bottom: 10vw;
}
.contents section * {
	font-size: 3.7vw;
	letter-spacing: .05em;
}
.subtitle_block {
	background: #0599d9;
}

.subtitle_block h2 {
	position: relative;
	max-width: 768px;
	margin: 0 auto 20px;
	padding: 10px 15px 15px;
	font-size: 4.2vw;
	line-height: 1;
	color: #fff;
}
.subtitle_block h2:before {
	position: absolute;
	content: '';
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}


/* recipe contents setting */
.recipe .subtitle_block h2 {
	padding: 10px 15px 6px 62px;
}

.recipe th {
	text-align: left;
}
.recipe th span {
	display: block;
	padding: 6px 10px 3px;
	color: #13448e;
	text-align: left;
	border-radius: 2px;
	background: #c3e6fa;
}
.recipe th:not(:first-child) span {
	margin-left: 3px;
}
.recipe td {
	border-collapse: collapse;
	padding: 6px 0 3px;
	vertical-align: middle;
	background: url(../img/line_dot.png) repeat-x 0 100%;
	background-size: 6px 1px;
}

/* title */
.contents .title_block {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 3px;
	background: #fff7e6;
}
.contents .title_block:after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 3px;
	background-image: -moz-linear-gradient( 90deg, rgb(230,158,43) 0%, rgb(236,198,102) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(230,158,43) 0%, rgb(236,198,102) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(230,158,43) 0%, rgb(236,198,102) 100%);
}
.contents .title_block .inner {
	max-width: 750px;
	margin: 0 auto;
	padding: 0;
}
.contents .title_block h1 {
	position: absolute;
	top: 50%;
	left: 0;
	display: inline-block;
	padding: 10px 15px 2px;
	font-size: 5.8vw;
	color: #fff;
	line-height: 1.2;
	font-feature-settings : "palt";
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
	background: rgba(0, 0, 0, .22);
}

/* comment */
.comment {
	padding-bottom: 5.3vw;
}
.comment h2:before {
	top: -9px;
	left: 15px;
	width: 40px;
	height: 39px;
	background-image: url(../img/ico_comment.png);
}

/* ingredient */
.ingredient h2:before {
	top: -10px;
	left: 13px;
	width: 44px;
	height: 41px;
	background-image: url(../img/ico_ingredient.png);
}
.ingredient th.item {
	width: 70%;
}
.ingredient .amount {
	width: 30%;
	text-align: right;
	white-space: nowrap;
}
.ingredient td.group {
	position: relative;
	width: 8%;
	padding: 0;
}
.ingredient td.group:before {
	position: absolute;
	top: 50%;
	left: 0;
	content: '';
	width: 80%;
	height: calc(100% - 10px);
	border-radius: 2px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	background: #13448e;
	z-index: 1;
}

.ingredient td.group + td {
	width: 72%;
}
.ingredient .group span {
	position: relative;
	display: block;
	width: 80%;
	color: #fff;
	font-weight: 700;
	text-align: center;
	z-index: 2;
}

.ingredient .gram {
	display: block;
	margin-right: -0.5em;
}

/* flow */
.flow h2:before {
	top: -16px;
	left: 15px;
	width: 42px;
	height: 45px;
	background-image: url(../img/ico_flow.png);
}
.flow li {
	position: relative;
	margin: 10px 0 0 30px;
	padding: 8px 10px 6px;
	border-radius: 5px;
	background: #e8f3fa;
}
.flow li:first-child {
	margin: 0 0 0 30px;
}
.flow li:before {
	position: absolute;
	top: 8px;
	left: -30px;
	width: 20px;
	height: 20px;
	font-family: 'Avenir', 'Arial', sans-serif;
	font-weight: 700;
	text-align: center;
	line-height: 22px;
	color: #fff;
	vertical-align: middle;
	border-radius: 10px;
	background: #13448e;
}
.flow .step1:before {content: '1';}
.flow .step2:before {content: '2';}
.flow .step3:before {content: '3';}
.flow .step4:before {content: '4';}
.flow .step5:before {content: '5';}
.flow .step6:before {content: '6';}

.flow .note {
	display: block;
	margin: 0 0 0 30px;
	padding: 8px 10px 0;
	padding-left: 1em;
	text-indent: -1em;
	font-size: 3.2vw;
	line-height: 1.5;
	background: none;
}
.flow ol + .note {
	margin: 10px 0 -0.35em 30px;
}

/* nutritive */
.nutritive h2:before {
	top: -8px;
	left: 13px;
	width: 39px;
	height: 37px;
	background-image: url(../img/ico_nutritive.png);
}
.nutritive .note {
	margin-top: 10px;
	padding-left: 1em;
	text-indent: -1em;
	font-size: 3.2vw;
	line-height: 1.5;
}

/* nutritive */
.nutritive_table_block {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.nutritive_table_block table {
	width: 48%;
}
.nutritive_table_block table:first-child {
	margin-right: 15px;
}
.contents section .nutritive_table_block * {
	font-size: 3.6vw;
	letter-spacing: 0;
}
.nutritive_table_block .item {
	width: 40%;
	padding: 0px 0 1px;
	white-space: nowrap;
	font-weight: normal;
	background: url(../img/line_dot.png) repeat-x 0 100%;
	background-size: 6px 1px;
}
.nutritive_table_block .item span {
	display: block;
	padding: 6px 5px 3px;
	background: #e8f3fa;
}
.nutritive_table_block .value {
	text-align: right;
}

/* intro - column contents setting */
.contents.intro .title_block,
.contents.column .title_block {
	background: #e8f3fa;
}
.kanshu .logo {
	display: inline-block;
	vertical-align: baseline;
	padding: 10px 0 10px 10px;
}
.illust {
	padding: 20px 0 20px;
	text-align: center;
}
.movie {
	width: calc(100% + 30px);
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
	margin: 10px 0 40px;
	padding: 10px;
	background: #fff2ae;
}
.movie .movie_intro {
	margin-bottom: .25em;
	letter-spacing: -.03em;
}
.movie_flame {
	position: relative;
	width: 100%;
	height: 0;
	padding: 56.25% 0 0;
}
.movie_flame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.intro .source,
.column .source {
	text-align: right;
}


/* rule contents setting */
.attention_block {
	margin: 10px auto 20px;
	text-align: center;
	border-top: 1px dashed #e69e2b;
	border-bottom: 1px dashed #e69e2b;
}
.attention_block p {
	padding: 10px 30px 6px;
	font-size: 3.7vw;
	font-weight: 700;
	color: #13448e;
	background: #e8f3fa;
}
.contents.rule section dt,
.contents.rule section dd,
.contents.rule section p {
	font-size: 3.2vw;
}
.contents.rule .title_block {
	background: #e8f3fa;
}
.rule .subtitle_block h2 {
	padding: 10px 15px 6px 15px;
}
.rule dl dt {
	clear: both;
	float: left;
}
.rule dl dd {
	overflow: hidden;
	margin-bottom: 15px;
}
.rule dl dd:last-child {
	margin: 0;
}
.info_block {
	margin-top: 20px;
	padding: 20px 20px 30px;
	text-align: center;
	border: 1px solid #13448e;
}
.info_block h3 {
	margin-bottom: 10px;
	font-size: 3.7vw;
}
.inner_block p {
	padding-left: 1.5em;
	text-indent: -1.5em;
}
.form_block {
	padding: 40px 0;
	text-align: center;
	border-top: 1px dashed #13448e;
	background: #e8f3fa;
}
.form_block input {
	width: 80%;
	padding: 8px 0;
	font-size: 3.7vw;
	color: #fff;
	border-radius: 10px;
	border: 1px solid #fff;
	background: #13448e;
	cursor: pointer;
}
.confirm_msg p {
	display: table;
	margin: 0 auto;
	padding: 60px 0 40px;
	font-size: 3.2vw;
	line-height: 2;
}

@media screen and (min-width: 481px) {
	.contents section {
		padding-bottom: 46px;
	}
	.contents section * {
		font-size: 1.8rem;
	}
	.subtitle_block h2 {
		padding: 10px 15px 6px 16.5%;
		font-size: 2.0rem;
	}
	.contents .comment {
		padding-bottom: 46px;
	}
	.flow .note,
	.nutritive .note,
	.contents.rule section dt,
	.contents.rule section dd,
	.contents.rule section p {
		font-size: 1.6rem;
	}
	.flow li:before {
		position: absolute;
		top: 10px;
		left: -34px;
		width: 28px;
		height: 28px;
		line-height: 30px;
		border-radius: 14px;
	}
	.attention_block p,
	.info_block h3 {
		font-size: 2.0rem;
	}
	.contents section .nutritive_table_block * {
		font-size: 1.8rem;
	}
	.nutritive_table_block .item {
		width: 50%;
	}
	.form_block input {
		font-size: 1.8rem;
	}
	.confirm_msg p {
		font-size: 1.6rem;
	}
	.illust img {
		width: auto;
		height: auto;
	}
}

@media screen and (min-width: 769px) {
	.contents .title_block h1 {
		font-size: 4.5rem;
	}
}

@media screen and (min-width: 751px) and (max-width: 768px) {
	.contents .title_block .inner {
		max-width: 768px;
	}
	.contents .title_block .image img {
		min-width: 100%;
	}
}

