<head>
    <meta charset='utf-8' />
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.0.6/js/all.js' rel='stylesheet'>
    <link href='/css/fullcalendar.min.css' rel='stylesheet' />
    <link href='/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <link href='/css/common.css' rel='stylesheet' />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script> -->
    <script src='/js/fullcalendar.js'></script>
    <script src='/js/locale-all.js'></script>
    <script src='/js/common.js'></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js'></script>

</head>
<!DOCTYPE html>
<html>
<body>

<div id='info'>
  <%= "アラーム時刻を修正しました" if controller.action_name == "edit"%>
</div>
<!--<div id='top'><img src="images/doctor-yubi.png" style="width: 150px">アラーム設定</div>-->
<div id='top'>アラーム設定</div>
<%  if controller.action_name == "show"%>
<form action="<%= params[:line_user_id] %>/edit" method="get">
<% else %>
<form action="" method="get">
<% end %>

    <table class="table">
        <thead>
        <tr>
            <th colspan="2">ロトリガ<span>の服用時間</span>
                <p class="comments">※ロトリガ1回目 は削除できません</p></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="naka">１回目</th>
            <td><input id="lotriga1" name="times[]" type="time" value="<%= @times[3] %>"><div class="space" id ="clear-lotriga1">　　　</div></td>
        </tr>
        <tr>
            <th class="naka">２回目</th>
            <td><input id="lotriga2" name="times[]" type="time" value="<%= @times[4] %>"><div class="clear" id ="clear-lotriga2">クリア</div></td>
        </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="ue">

        <tr>
            <th colspan="2">その他<span>の薬</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>１回目</th>
            <td><input id = "other1" name="times[]" type="time" value="<%= @times[0] %>"><div class="clear" id = "clear-other1">クリア</div></td>
        </tr>
        <tr>
            <th>２回目</th>
            <td><input id = "other2" name="times[]" type="time" value="<%= @times[1] %>"><div class="clear" id = "clear-other2">クリア</div></td>
        </tr>
        <tr>
            <th>３回目</th>
            <td><input id = "other3" name="times[]" type="time" value="<%= @times[2] %>"><div class="clear" id = "clear-other3">クリア</div></td>

        </tr>
        </tbody>
    </table>

    <div class="submit-time">
        <input type="hidden" name="status" value="sended">
        <% if controller.action_name == "show" %> 
            <input type="submit" class="btn btn-primary" value="この内容で修正する">
        <% else %>
            <input type="submit" class="btn btn-primary" value="もう一度修正する　">
        <% end %>
    </div>
</form>
</body>
</html>

<script>
    $(function () {
        $("#clear-lotriga2").on("click", function () {
            $("#lotriga2").val('');
        });
        $("#clear-other1").on("click", function () {
            $("#other1").val('');
        });
        $("#clear-other2").on("click", function () {
            $("#other2").val('');
        });
        $("#clear-other3").on("click", function () {
            $("#other3").val('');
        });
    });
</script>
