<head>
    <meta charset='utf-8' />
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
    <link href='https://use.fontawesome.com/releases/v5.0.6/js/all.js' rel='stylesheet'>
    <link href='/css/calendar/bootstrap.css' rel='stylesheet' /> 
    <link href='/css/calendar/fullcalendar.css' rel='stylesheet' />
    <link href='/css/calendar/fullcalendar.print.css' rel='stylesheet' media='print' />
    <link href='/css/calendar/common.css' rel='stylesheet' />

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js'></script> -->
    <script src='/js/fullcalendar.js'></script>
    <script src='/js/locale-all.js'></script>
    <script src='/js/common.js'></script>

    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css' rel='stylesheet' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js'></script>

</head>

<!DOCTYPE html>
<html>
<body>
<div id='info'>
</div>
<!--<div id='top'><img src="images/icon.png" style="width: 150px">カレンダー</div>-->
<div id='top'>カレンダー</div>

<div class ="legend" style="text-align: right; font-size: 30px; margin-top: 20px;margin-right: 20px;">
    凡例　<span style="color: rgb(90,177,82);font-size: 30px;">●</span>＝ロトリガの服薬　　　　　<br>
    　　　<span style="color: rgb(89,89,89);font-size: 30px;">●</span>＝ロトリガ以外のお薬の服薬
</div>
<div id='calendar' data-hex='<%=params[:url_param]%>'></div>
</body>
</html>
