
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">

    <title>利用規約｜ひとことメモ</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/agree.css">

</head>

<body>
<header>
    <div class="inner">
        <p>ひとことメモ</p>
    </div>
</header>

<div class="contents rule">
    <div class="title_block">
        <div class="inner">
            <h1>利用規約</h1>
            <div class="image">
                <img src="/img/rule_pt01.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="attention_block">
        <p>画面最下段に規約の同意ボタンがあります。</p>
    </div>

    <section>
        <div class="subtitle_block">
            <h2>本サービスについて</h2>
        </div>
        <div class="inner">
            <dl>
                <dt>（1）</dt>
                <dd>『服薬アラーム』（以下、「本サービス」といいます）は、日本国内において脂質異常症治療薬「ロトリガ粒状カプセル2g」（以下、「本薬剤」といいます）を処方されている患者さんを対象として制作されており、本薬剤を適切に服用いただくための服薬タイマーサービスです。したがって、本サービスは、本薬剤を処方されていない方、および国外の患者さんを対象としたものではありません。</dd>
                <dt>（2）</dt>
                <dd>本サービスには、武田薬品工業株式会社（以下、「武田薬品」といいます）の製品についての情報が含まれておりますが、本サービスに記載されている医療用医薬品（開発品を含みます）の情報は、そのような製品またはその製品の効能等を宣伝・広告するものではありません。また、本サービスに記載されている武田薬品の製品は、医師による処方箋がなければ入手できないものです。<br>
                    本サービスは、服薬指導を含め、医師その他医療従事者が行うべきアドバイスやサービスを一切提供いたしません。本サービスに記載されている情報は、決して、医師その他医療従事者が行うべき服薬指導や、医師その他医療従事者によるアドバイスの代わりになるものではありませんので、信頼すべき情報を必ず各自でご確認ください。</dd>
                <dt>（3）</dt>
                <dd>本サービスの利用に必要となる端末その他の接続機器の準備や電話回線・インターネット回線、その他接続環境の整備を含む一切の費用は、本サービスを利用する方（以下、「利用者」といいます）が負担するものとします。また本サービスはLINE株式会社の提供する「LINE」アプリケーション上で動作しますが、本サービス利用のためのLINEアカウントも、利用者が負担するものとします。</dd>
                <dt>（4）</dt>
                <dd>本サービスの表示および動作に必要とされるプログラムデータや関連するドキュメントファイル等は、予告なくバージョンアップされる場合があります。武田薬品は、本サービスと他のソフトウエア等との互換性について何ら保証いたしません。</dd>
            </dl>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>お問い合わせ窓口について</h2>
        </div>
        <div class="inner">
            <p>本サービスの使用方法に関するお問い合わせは、以下のお問い合わせ窓口にメールにてご連絡ください。スマートフォン等のご利用端末の操作方法に関するお問い合わせおよび医薬品や疾病に関するお問い合わせにつきましては、お答えすることができません。<br>
                医薬品や疾病に関するご不明点につきましては、医師・薬剤師にお問い合わせください。</p>
            <div class="info_block">
                <h3>『服薬アラーム』<br>ご利用お問い合わせ窓口（メール）</h3>
                <a href="m&#97;i&#108;t&#111;:l&#111;&#116;_l&#105;&#110;e&#64;inf&#114;&#111;&#110;&#116;.&#99;&#111;.&#106;p">l&#111;&#116;_l&#105;&#110;e&#64;inf&#114;&#111;&#110;&#116;.&#99;&#111;.&#106;p</a>
            </div>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>ご利用できる方について</h2>
        </div>
        <div class="inner">
            <p>利用者は、本薬剤を処方されている日本国内の患者さんに限らせていただいております。<br>
                本薬剤を処方されていない方、および国外の患者さんのご利用は、お断りさせていただいております。</p>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>本規約について</h2>
        </div>
        <div class="inner">
            <dl>
                <dt>（1）</dt>
                <dd>本サービスは、本利用規約（以下、「本規約」といいます）を参照し、その内容すべてを遵守していただける方のみご利用いただけます。利用者が本サービスをLINE上で友だち登録することにより、本規約に同意したものとみなします。</dd>
                <dt>（2）</dt>
                <dd>武田薬品および株式会社インフロント（武田薬品とあわせて、以下、「提供会社」といいます）は、本規約の内容を追加、変更、削除（以下、「変更等」といいます）することがあります。その場合、利用者が本サービスをご利用された時点で、本規約の変更等をご了承いただいたものとさせていただきます。</dd>
            </dl>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>本サービスの変更・終了等について</h2>
        </div>
        <div class="inner">
            <p>提供会社は、予告なしに、本サービスの内容・表示・操作方法等を変更または本サービスを停止・終了できるものとします。この場合、提供会社はかかる変更・停止・終了について一切責任を負いません。</p>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>著作権等</h2>
        </div>
        <div class="inner">
            <p>本サービスの著作権およびその他一切の知的財産権（商標権、意匠権・特許権・実用新案権・ノウハウ等が含まれますが、これらに限定されません）は、提供会社に帰属します。本サービスに表示されている会社名、商品名、サービスマーク等は、提供会社の商標です。</p>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>利用者の禁止行為について</h2>
        </div>
        <div class="inner">
            <dl>
                <dt>（1）</dt>
                <dd>利用者は以下の行為を行ってはならないものとします。
                    <div class="inner_block">
                        <p>① 本規約に違反する行為</p>
                        <p>② 提供会社、他の利用者または第三者の著作権、商標権その他の知的財産権、または名誉、プライバシー、財産などの権利・利益を侵害する行為</p>
                        <p>③ 犯罪に結びつく行為、公序良俗に反する行為、その他法に違反する行為、およびこれらのおそれがある行為</p>
                        <p>④ 本サービスあるいは本サービスを通じて得た情報を自己または第三者の営業のために利用する行為</p>
                        <p>⑤ 利用者が自らまたは第三者をして、方法の如何を問わず、本サービスについて、複写、複製、転載、引用、配信（ネットワークに接続されたサーバーへのアップロードを含みます）、編集、翻案、改変、改竄、翻訳、リバース・エンジニアリング、逆コンパイル、逆アセンブル等をする行為</p>
                        <p>⑥ 利用者が自らまたは第三者をして、本サービスと同一または類似のものを作成する行為</p>
                        <p>⑦ 利用者が自らまたは第三者をして、本サービスに関する出版物等を発行する行為</p>
                        <p>⑧ 本サービスの運営を妨げる行為、またはそのおそれのある行為</p>
                        <p>⑨ 前各号に定める行為をするように唆したり、助けたりする行為</p>
                        <p>⑩ その他、提供会社が不適切であると判断する行為</p>
                    </div>
                </dd>
                <dt>（2）</dt>
                <dd>利用者が本規約に違反したと提供会社が認めた場合には、提供会社は、当該利用者に対して、本サービスの利用の中止を求めることができるものとします。</dd>
            </dl>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>利用者の入力データおよび個人情報等について</h2>
        </div>
        <div class="inner">
            <p>本サービスを提供するためのサーバー上には利用者にご入力いただいたデータが保持されています。本サービスをご利用される方は、ご入力いただいたデータが個人情報の保護に関する法律（平成15年法律第57号）に定める個人情報または要配慮個人情報（以下、併せて「個人情報等」といいます）に該当する可能性があることおよび当該個人情報等は本サービスの維持、改善およびご利用状況の把握その他武田薬品の公表する利用目的の範囲内で利用されるものであることを理解した上、武田薬品および株式会社インフロントによる個人情報等の取得に同意することとします。なお、武田薬品の個人情報の利用目的については下記リンク先をご参照くださいい。<br>
                <a href="https://www.takeda.com/jp/privacy-policy/purpose/" target="_blank">https://www.takeda.com/jp/privacy-policy/purpose/</a></p>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>免責事項</h2>
        </div>
        <div class="inner">
            <p>提供会社は、本サービスの内容が、正確・完全あるいは信頼に足るものであり、利用者の目的に適ったものであること、および本サービスの利用においてエラーやコンピュータ・ウイルス汚染等の危険がないことのいずれについても、何らの保証もいたしかねます。提供会社は、本サービスを利用したこと、もしくは利用できなかったこと、または本サービスの内容を信頼したことのいずれを理由として生じるいかなる損害についても一切責任を負いません。</p>
        </div>
    </section>

    <section>
        <div class="subtitle_block">
            <h2>準拠法</h2>
        </div>
        <div class="inner">
            <p>本規約は、日本法を準拠法として、それに基づいて解釈されるものとします。本規約に関して生ずる紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とするものとします。</p>
        </div>
    </section>

    <div class="form_block">
        <div class="inner">
            <form action="commit" method="post">
                <input type="hidden" name="url_param" value="<%= @user[:url_param] %>" >
                <input type="submit" name= "consent" value="上記規約文に同意する">
                <!--<input type="submit" name= "consent" value="同意しない">-->
            </form>
        </div>
    </div>
    <!-- /End contents --></div>
</body>
</html>
