<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta charset="utf-8">

<title>利用規約｜ひとことメモ</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<header>
		<div class="inner">
			<p>ひとことメモ</p>
		</div>
	</header>

	<div class="contents rule">
		<div class="title_block">
			<div class="inner">
				<h1>利用規約</h1>
				<div class="image">
					<img src="/img/rule_pt01.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="confirm_msg">
			<div class="inner">
<p>本サービスの利用規約に同意いただいたことを確認しました。<br>
    このウィンドウを閉じて、次の設定に進んでください。</p>
</div>
</div>
<!-- /End contents --></div>
</body>
</html>
