
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#top,
#calendar.fc-unthemed {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

/*#top {
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    font-size: 12px;
    color: #000;
}*/


#top .selector {
    display: inline-block;
    margin-right: 10px;
}

#top select {
    font: inherit; /* mock what Boostrap does, don't compete  */
}

.fc-center {
    font-size: xx-large;
}

.left { float: left }
.right { float: right }
.clear { clear: both }

#top {
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
    background-color: #4177bd;


    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#info {
	color:#FFFFFF;
    text-align: center;
    font-size: 60px;
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	font-weight:bold;
	background-color:#31B404;
	-webkit-text-stroke: 0.5px #000;

}

.right {
    font-size: x-large;
    color: #FFFFFF;
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

#calendar {
    font-size: 50px;
    font-family: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    max-width: 900px;
    margin: 40px auto;
    padding: 0 10px;
}


.fc-day-grid-event{
    text-align: center;
}

.fc-content{
    font-size: medium;
    text-align: center;
}

.fc-title{
    text-align: center;
}

.alert-info, .alert-info>th, .alert-info>td {
    background-color: #9AD8E4;
}

.fc-sun { color: #F3969A; }  /* 日曜日 */
.fc-sat { color: #4eb7cd; } /* 土曜日 */

.submit-time {
    text-align: center;



}

.submit-time input {
    color: #FFFFFF;
    font-size: 60px;
    background-color: #46CBEC;
	width:60%;
	font-weight:bold;
	-webkit-text-stroke: 0.5px #4177bd;
	margin-top:45px;
	/*border:solid 4px #4177bd;*/



}

.fc-time{
    display: none;
}

.fc-title{
    font-size: 30px;

}

.back {
    text-align: center;
}

.table-bordered{
    background-color: #ffffff !important;
}

body {
    background-color: #d3dce9;
}

.table {
    font-size: 80px;
	border-spacing: 0 50px;
	width: 90%;
	text-align:center;
	margin: 40px auto;
	 border:none;
}
.table thead th{

   border:none;
	}

.table th {

	display: table-cell;
  vertical-align: middle;
  padding-left:20px;
   border:none;
	}

.table td {

	display: table-cell;
  vertical-align: middle;
  text-align:center;
   border:none;

	}


table th, table td {


  font-weight:bold;

}


input {
    color: #555555;
    font-size: 60px;
    background-color: #FFFFFF;
	text-align:center;
	font-weight: bold;
	width: 5em;
}
.th.fc-day-header.fc-mon {
	 padding: 20px;
	}

.btn{
    font-size: xx-large;
}

.fc-month-button{
    background-color:#00BFFF;
	-webkit-text-stroke: 0.5px #000;
	font-weight: bold;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #90999B;
    border-color: #90999B;
}

.fc-today-button{
    display: none;

}

.fc-agendaWeek-button{
    display: none;
}

.fc-agendaDay-button{
    display: none;
}

h2, .h2 {
    font-size: 70px;
	line-height: 105px;
	font-weight: bold;
}

.btn-primary {
	background-color: #46CBEC;
    border-color: #01A9DB;
	-webkit-text-stroke: 0.5px #000;

    /*background-color: #4177bd;
    border-color: #4177bd;*/
}



.fc-day-number{
    font-size: 30px;
}

span {
	font-size:70px;
	}

thead.ue {

	margin-top:30px;
	}

.fc-toolbar.fc-header-toolbar{

	background-color:#FFFFFF;}

.btn-primary:active {
	background-color: #46CBEC;
	}

.comments{
    font-size: 30px;
}

.clear {
    -webkit-appearance: none;
    color: #FFFFFF;
    clear: both;
    float: right;
    font-size: 20px;
    margin-top: 30px;
    background-color: #46CBEC;
    width: 100px;
    border-radius: 5px;
    -webkit-appearance: none; /* これを追加 */

}

.space {
    -webkit-appearance: none;
    color: #FFFFFF;
    clear: both;
    float: right;
    font-size: 20px;
    margin-top: 30px;
    width: 100px;
    border-radius: 5px;
    -webkit-appearance: none; /* これを追加 */
}

input::-ms-clear {
    display: none;
}